@page "/weather"

<PageTitle>Weather forecast</PageTitle>

@using Case.CoreFunctionality.Interfaces
@using Case.CoreFunctionality.Models
@inject IWeatherFilterService WeatherService

<h3>Weather</h3>

<p>This is the current weather & a forecast for the next 24 hours in Kolding.</p>

@if (data == null)
{
    <div class="spinner-border"/>
}
else
{
    <div class="row">
        <div class="col-2">
            <b>Temperature:</b>
        </div>
        <div class="col-1">
            @data.CurrentWeather.Temperature &deg;C
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <b>Conditions:</b>
        </div>
        <div class="col-1">
            @data.CurrentWeather.Conditions
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <b>CloudCover:</b>
        </div>
        <div class="col-1">
            @data.CurrentWeather.CloudCover%
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <b>SunRise:</b>
        </div>
        <div class="col-1">
            @TimeOnly.FromDateTime(data.CurrentWeather.SunRise)
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <b>SunSet:</b>
        </div>
        <div class="col-1">
            @TimeOnly.FromDateTime(data.CurrentWeather.SunSet)
        </div>
    </div>

    <table class="table table-sm mt-2">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time of day</th>
                <th>Conditions</th>
                <th>Cloud Cover (%)</th>
                <th>Temperature &deg;C</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var forecast in data.WeatherForecasts)
            {
                <tr>
                    <th>@DateOnly.FromDateTime(forecast.DateTime)</th>
                    <th>@TimeOnly.FromDateTime(forecast.DateTime)</th>
                    <th>@forecast.Conditions</th>
                    <th>@forecast.CloudCover</th>
                    <th>@forecast.Temperature</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    WeatherData data;

    protected override async Task OnInitializedAsync()
    {
        data = await WeatherService.GetWeatherDataForKoldingAsync();
    }
}
